.container {
    height: 150px;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    text-align: center;
}

.desc {
    display: flex;
    margin-top: 10px;
    text-align: center;
    color: #666;
}